@import "tailwindcss";

body {
  background-color: black;
}


.muscles:hover,
.bones:hover,
.organs:hover,
.cardio:hover {
  fill: red;
  cursor: pointer;
}

.filled{
  fill: red;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

button{
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
